---js
const eleventyNavigation = {
	key: "Blog",
	order: 1
};

const numberOfLatestPostsToShow = 3;
---
<h1>Writing</h1>

<p>I love my writing! Here's a selection:</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
