---
eleventyNavigation:
    key: Blog
    order: 1
permalink: /blog/
---
<h1>Writing</h1>

<p>I love my writing! Here's a selection:</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}
