---
eleventyNavigation:
    key: Blog
    order: 2
---
<h1>Writing</h1>

<p>I love my writing! Here's a selection:</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

<p>This page is rendered from `index.njk`. I pushed this to GitHub on 6:19pm having returned the permalinks and updated the github action to clean the branch on each run.</p>
