---
eleventyNavigation:
    key: Test
---
<h1>Code to test the nav bar</h1>
<p>Here, we will render the list we produce from the test code</p>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}