<nav>
  <ul>
    <li><a href="{{ '/' | url }}">Home</a></li>
    <li><a href="{{ '/about/' | url }}">About</a></li>
    <li><a href="{{ '/blog/' | url }}">Blog</a></li>
    <li><a href="{{ '/music/' | url }}">Music</a></li>
  </ul>
</nav>