<style>{% include "css/now-widgets.css" %}</style>

<section class="now-widgets" aria-label="What I'm up to right now">
  <div class="now-widgets-container">
    <div class="now-widgets-grid">

      <!-- Strava Widget -->
      <div class="now-widget">
        <h3>🏃‍♂️ Latest Runs</h3>
        <iframe
          title="My latest Strava activity"
          src="https://www.strava.com/athletes/18718372/latest-rides/481c454c2194e9dd1d72b6b017809632f2b0804c"
          scrolling="yes"
          loading="lazy"
          allowtransparency="true">
        </iframe>
      </div>

      <!-- Goodreads Widget -->
      <div class="now-widget">
        <h3>📚 Currently Reading</h3>
        <div id="gr_custom_widget_1747961986" class="now-widget-goodreads"></div>
        <script src="https://www.goodreads.com/review/custom_widget/129474819.Oliver's%20bookshelf:%20currently-reading?cover_position=middle&cover_size=medium&num_books=1&order=d&shelf=currently-reading&show_author=1&show_cover=1&show_rating=0&show_review=0&show_tags=0&show_title=1&sort=date_added&widget_bg_color=FFFFFF&widget_bg_transparent=true&widget_border_width=1&widget_id=1747961986&widget_text_color=000000&widget_title_size=small&widget_width=thin" type="text/javascript" charset="utf-8"></script>
      </div>

      <!-- Spotify Widget -->
      <div class="now-widget">
        <h3>🎵 Now Playing</h3>
        <iframe
          title="My current Spotify playlist"
          src="https://open.spotify.com/embed/playlist/5sPnrbKJ2M9gz95TiTWr0x?utm_source=generator&theme=0"
          allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"
          loading="lazy">
        </iframe>
      </div>

    </div>
  </div>
</section>
